@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h2>Recipes</h2>
<hr />
<br>
@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Title}", "Details", new { id = recipe.RecipeId }) | Rating: @recipe.Rating</li>
    }
  </ul>
} 
else
{
  <h3>No recipes have been added yet!</h3>
}
<hr />
<br>
<h5>@Html.ActionLink("Add recipe", "Create")</h5>