<div id="header">
  <h1><a href='/'>Recipe Box</a></h1>

@if (User.Identity.IsAuthenticated)
{
  <h4> @Html.ActionLink("home", "Index", "Home") | @Html.ActionLink("recipes", "Index", "Recipes") | 
  @Html.ActionLink("categories", "Index", "Categories")</h4>

  <span class="logoutbtn">@using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
  </span>
}
  
</div>