@{
  Layout = "_Layout";
}

@using RecipeBox.ViewModels

@model LoginViewModel

<h2>Log in</h2>
<hr />
@using (Html.BeginForm())
{
    <p>Email:
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Required", required="required", style="width: 300px;"})</p>

    <p>Password:
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Required", required="required", style="width: 200px;"})</p>

    <input type="submit" value="Log in" class="btn btn-default" />
} 